<!-- Jinja2的extends指令，导入base.html模板并继承-->
{% extends "bootstrap/base.html" %}
<!-- 重定义title块的内容-->
{% block title %}星时代性能测试{% endblock %}
{% block navbar %}
<link href="{{ url_for('static', filename='locust.css') }}" rel="stylesheet" type="text/css" />
<script src="{{ url_for('static', filename='locust.js') }}" ></script>
<script src="{{ url_for('static', filename='jquery-3.2.1.min.js') }}"></script>

<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">星时代性能测试</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
{#                <li><a href="/zhibo"><font size="4">直播间测试</font></a></li>#}
                <li><a target="_blank" href="http://localhost:8089/"> <font size="5">locust</font></a></li>
                <li><a href="/jiankong"><font size="4">服务器性能监控</font></a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
