{% extends "base.html" %}

{% block title %}星时代性能测试{% endblock %}

{% block content %}

<div class="box">
    <table class="bordered">
        <form action="/index" method="post" name="form" enctype='application/json'>
            <thead>
            <tr>
                <th>ID</th>
                <th>接口名称</th>
                <th>特殊请求参数“b”</th>
                <th>版本号version</th>
                <th>全选<input type="checkbox" onclick="swapCheck()"/></th>
            </tr>
            </thead>
            {%for data in datalist%}
            <tr>
                <td>{{data[0]}}</td>
                <td>{{data[1]}}</td>
                <td>
                    <div class="wrap"><a ondblclick="ShowElement(this)" name="keydata">{{data[2]}}</a></div>
                </td>
                <td><a ondblclick="ShowElement(this)" name="version"> {{data[3]}}</a></td>
                {%if data[4]==1%}
                <td><input type="checkbox" name="black" value={{data[4]}} checked="checked" style="margin-bottom:5px;"/>
                </td>
                {% else %}
                <td><input type="checkbox" name="black" value={{data[4]}} style="margin-bottom:5px;"/></td>
                {%endif%}
            </tr>
            {%endfor%}
            <tr>
                <td colspan="5" align="right">
                    <input class="btn btn-primary" type="submit" name="tijiao" value="保存配置" onclick="check_black();">
                </td>

            </tr>
            {#
            <td colspan="5">
                <div class=error><font color="#FF0000">{{get_flashed_messages()[0]}}</font></div>
            </td>
            >#}
        </form>
    </table>


    <table class="zebra">
        <thead>
        <tr>
            <th>名称</th>
            <th>参数</th>
        </tr>
        </thead>

        {% for config in configdata %}
        <tr>
            <td>{{ config }}</td>
            <td>{{ configdata[config] }}</td>
        </tr>
        {% endfor %}
        <td colspan="4" align="right">
            <form action="/index" method="post">
                <input class="btn btn-primary" type="submit" name="ticket" value="刷新登录信息" onclick="Openloader();">
                <input class="btn btn-primary" type="submit" name="test" value="测试所选接口" onclick="Openloader();">
                {% if louststatus %}
                <input class="btn btn-danger" type="submit" name="killlocust" value="停止locust服务"
                       onclick="Openloader();">
                {% else %}
                <input class="btn btn-success" type="submit" name="runlocust" value="启动locust服务"
                       onclick="Openloader();">
                {%endif%}

            </form>
        </td>
        <tr>
            <td colspan="4" align="right">
                <font color="#FF0000">保存配置后，建议先测试接口是否通过，再启动服务</font>
            </td>
        </tr>

    </table>
    {% for message in get_flashed_messages(with_categories=True) %}
    {% if message %}
    <div class="myalert">
        <div id="myAlert" class="alert alert-{{ message[0] }}">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            {{message[1]}}
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>

<div class="container">
    <section>
        <div class="loader loader-4" id="loader-4"></div>
    </section>

</div>

{%if status%}
<SCRIPT LANGUAGE="javascript">
    window.open('http://localhost:8089/')
</SCRIPT>
{%endif%}



{% endblock %}

